.content-library-styles {
  background: #37474f;
  width: 40%;
  height: 1000px;
  border-radius: 20px;
  margin: 20px 20px 20px 300px;
}
.header-style {
  padding: 10px;
}
.content-list-box {
  background: #37474f;
  width: 900px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.line-header-style {
  margin-bottom: 20px;
}
.new-folder-button {
  display: flex;
  flex-direction: column;
  color: #00acc1;
  margin: 20px 20px 20px 300px;
  padding: 30px 50px 30px 50px;
  border-radius: 10px;
}
.folder-icon-style {
  margin-bottom: 20px;
}
.open-folder-box-style {
  background: #5f6c72;
  width: 450px;
  margin: 20px 20px 20px 200px;
  border-radius: 10px;
}
