.content-library-styles {
  background: #37474f;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.tasks-header {
  margin-top: 10px;
}
.content-list-box {
  background: #37474f;
  width: 900px;
  border-radius: 20px;
}
.line-header-style {
  margin-bottom: 20px;
}
.new-folder-button {
  color: #00acc1;
  margin: 20px 20px 20px 20px;
  padding: 80px 50px 30px 50px;
  border-radius: 10px;
}
