circle {
  fill: #37474f;
  stroke: #4dd0e1;
  stroke-width: 100;
  stroke-dasharray: 40 180;
}
svg {
  transform: rotate(-90deg);
  background: #90a4ae;
  border-radius: 50%;
}
.circle-graph {
  padding: 40px;
}
