.progress-page-layout {
  display: flex;
  flex-direction: row;
}
.course-completion-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #37474f;
  border-radius: 20px;
  margin: 20px 20px 40px;
  width: 700px;
}
.completion-style {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;

  .completion-header {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    margin-left: 100px;
  }
}
.completion-button-box {
  margin-top: 100px;
  margin-bottom: 100px;
  .completion-button-style {
    padding: 10px;
  }
}
.percent-complete-header {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  padding: 20px;
  margin-right: 40px;
}
.button-micro-small {
  background: white;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
}
.breakdown-style {
  background: #37474f;
  border-radius: 10px;
}
.breakdown-tasks-header {
  color: white;
  padding: 20px;
}
.breakdown-button-style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.progress-buttons {
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}
.line-header-style {
  border: 2px solid #00838f;
  width: 300px;
}
.info-header {
  color: white;
}
