.banner-style {
  background: #37474f;
  height: 400px;
  width: 100%;
}
.media-style {
  margin-top: 20px;
}

.routines-page-layout {
  display: flex;
  flex-direction: row;
}

.page-info {
  color: white;
  padding: 40px;
}

.page-info-box {
  background: #37474f;
  border-radius: 10%;
  height: 630px;
  margin-top: 20px;
  margin-right: 20px;
  width: 60%;
}

.task-button-style {
  background: #37474f;
  border-style: none;
}

.custom-task-comp-style {
  background: #37474f;
  border-style: none;
  border-radius: 10%;
  margin-bottom: 100px;
  width: 100%;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .task-list-box {
    background: #37474f;
    border-style: none;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
  }
  .task-icons-wrapper {
    margin-right: 20px;
  }
  .task-list-style {
    color: white;
  }
}
.whats-next-header,
.tasks-header {
  padding: 5px;
  color: white;
}

.line-style {
  border: 1px solid #00838f;
  width: 80%;
}

ul {
  list-style-type: none;
}
.custom-task-header {
  padding: 10px;
  color: white;
}
.custom-tasks-box {
  margin-top: 20px;
}
.create-new-task-button {
  color: #00acc1;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 7px;
}
